body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: whitesmoke;
  color: aliceblue;
  padding: 20px;
  text-align: center;
  color: black;
}

h1 {
  display: block;
  width: 100%;
  text-align: center;
  border: 2px solid grey;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}
